# filling rows that contain missing values

In [1]:
import findspark

In [2]:
findspark.init('/home/abhi/spark-2.2.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('preprocess').getOrCreate()

In [6]:
df=spark.read.csv('/home/abhi/project/orange_small_train.data',inferSchema=True,header=True,sep='\t')

In [7]:
from pyspark.sql.functions import *
null_count=df.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).collect()

## column-wise null count

In [8]:
null_count

[Row(Var1=49298, Var2=48759, Var3=48760, Var4=48421, Var5=48513, Var6=5529, Var7=5539, Var8=50000, Var9=49298, Var10=48513, Var11=48760, Var12=49442, Var13=5539, Var14=48760, Var15=50000, Var16=48513, Var17=48421, Var18=48421, Var19=48421, Var20=50000, Var21=5529, Var22=5009, Var23=48513, Var24=7230, Var25=5009, Var26=48513, Var27=48513, Var28=5011, Var29=49298, Var30=49298, Var31=50000, Var32=50000, Var33=49153, Var34=48759, Var35=5009, Var36=48759, Var37=48421, Var38=5009, Var39=50000, Var40=48759, Var41=49298, Var42=50000, Var43=48759, Var44=5009, Var45=49656, Var46=48759, Var47=49298, Var48=50000, Var49=48759, Var50=49298, Var51=46253, Var52=50000, Var53=49298, Var54=48759, Var55=50000, Var56=49354, Var57=0, Var58=49298, Var59=49180, Var60=48513, Var61=49153, Var62=49442, Var63=49306, Var64=49762, Var65=5539, Var66=49306, Var67=48513, Var68=48759, Var69=48513, Var70=48513, Var71=48871, Var72=22380, Var73=0, Var74=5539, Var75=48759, Var76=5009, Var77=49298, Var78=5009, Var79=50000, Var80=48513, Var81=5529, Var82=48421, Var83=5009, Var84=48760, Var85=5009, Var86=49298, Var87=49298, Var88=48917, Var89=49354, Var90=49298, Var91=48871, Var92=49829, Var93=48513, Var94=22380, Var95=48759, Var96=48759, Var97=48513, Var98=49442, Var99=48421, Var100=49298, Var101=49127, Var102=49549, Var103=48513, Var104=49180, Var105=49180, Var106=48421, Var107=48513, Var108=49298, Var109=7230, Var110=49298, Var111=48871, Var112=5009, Var113=0, Var114=48759, Var115=49180, Var116=49298, Var117=48421, Var118=49829, Var119=5529, Var120=48513, Var121=49298, Var122=48759, Var123=5009, Var124=48421, Var125=5539, Var126=13920, Var127=48917, Var128=48917, Var129=49298, Var130=48760, Var131=49298, Var132=5009, Var133=5009, Var134=5009, Var135=48421, Var136=49306, Var137=49298, Var138=48421, Var139=48513, Var140=5539, Var141=50000, Var142=49298, Var143=5009, Var144=5529, Var145=48421, Var146=48513, Var147=48513, Var148=48513, Var149=7230, Var150=48421, Var151=49153, Var152=48421, Var153=5009, Var154=49298, Var155=48421, Var156=49306, Var157=48871, Var158=49127, Var159=48759, Var160=5009, Var161=48421, Var162=48759, Var163=5009, Var164=48421, Var165=49127, Var166=48513, Var167=50000, Var168=49298, Var169=50000, Var170=48759, Var171=48917, Var172=48513, Var173=5009, Var174=48421, Var175=50000, Var176=48760, Var177=48759, Var178=49354, Var179=48421, Var180=49298, Var181=5009, Var182=48421, Var183=48759, Var184=48759, Var185=50000, Var186=49298, Var187=49298, Var188=48759, Var189=28978, Var190=49667, Var191=48917, Var192=369, Var193=0, Var194=37216, Var195=0, Var196=0, Var197=143, Var198=0, Var199=4, Var200=25408, Var201=37217, Var202=1, Var203=143, Var204=0, Var205=1934, Var206=5529, Var207=0, Var208=143, Var209=50000, Var210=0, Var211=0, Var212=0, Var213=48871, Var214=25408, Var215=49306, Var216=0, Var217=703, Var218=703, Var219=5211, Var220=0, Var221=0, Var222=0, Var223=5211, Var224=49180, Var225=26144, Var226=0, Var227=0, Var228=0, Var229=28432, Var230=50000)]

## setting threshold for null values of a column

In [9]:
my_list=[]
thresh=0.60*df.count()
i=0
while i<len(df.columns):
    if(null_count[0][i]<thresh):
        my_list.append("Var{}".format(i+1))
    i+=1

## list of columns that are below the threshold

In [10]:
my_list

['Var6',
 'Var7',
 'Var13',
 'Var21',
 'Var22',
 'Var24',
 'Var25',
 'Var28',
 'Var35',
 'Var38',
 'Var44',
 'Var57',
 'Var65',
 'Var72',
 'Var73',
 'Var74',
 'Var76',
 'Var78',
 'Var81',
 'Var83',
 'Var85',
 'Var94',
 'Var109',
 'Var112',
 'Var113',
 'Var119',
 'Var123',
 'Var125',
 'Var126',
 'Var132',
 'Var133',
 'Var134',
 'Var140',
 'Var143',
 'Var144',
 'Var149',
 'Var153',
 'Var160',
 'Var163',
 'Var173',
 'Var181',
 'Var189',
 'Var192',
 'Var193',
 'Var195',
 'Var196',
 'Var197',
 'Var198',
 'Var199',
 'Var200',
 'Var202',
 'Var203',
 'Var204',
 'Var205',
 'Var206',
 'Var207',
 'Var208',
 'Var210',
 'Var211',
 'Var212',
 'Var214',
 'Var216',
 'Var217',
 'Var218',
 'Var219',
 'Var220',
 'Var221',
 'Var222',
 'Var223',
 'Var225',
 'Var226',
 'Var227',
 'Var228',
 'Var229']

## selecting the columns that are below the threshold

In [11]:
my_cols=df.select(my_list)
my_cols.count()

50000

## identifying the type of data present in each column

In [12]:
num_list=[]
cat_list=[]
for name,dtype in my_cols.dtypes:
    if(dtype=='int' or dtype=='double' or dtype=='float'):
        num_list.append(name)
    else:
        cat_list.append(name)

## filling the missing values of numeric data type columns with mean

In [13]:
for c in num_list:
        average=my_cols.select(mean(c)).collect()
        my_cols = my_cols.fillna(average[0][0],c)

## filling the missing values of categorical data with mode
## frequently repeated value is placed in missing values of the column

In [14]:
for c in cat_list:
    freq_count=my_cols.groupBy(c).count()
    freq_list=freq_count.orderBy(freq_count["count"].desc()).collect()
    if(freq_list[0][0]==None):
        my_cols = my_cols.fillna(freq_list[1][0],c)
    else:
        my_cols = my_cols.fillna(freq_list[0][0],c)

## total rows after filling the missing values

In [15]:
my_cols.count()

50000

In [16]:
null_count2=my_cols.select([count(when(isnull(c), c)).alias(c) for c in my_cols.columns]).collect()

## nullcount of each column after filling missing values(which is  zero for every column)

In [17]:
null_count2

[Row(Var6=0, Var7=0, Var13=0, Var21=0, Var22=0, Var24=0, Var25=0, Var28=0, Var35=0, Var38=0, Var44=0, Var57=0, Var65=0, Var72=0, Var73=0, Var74=0, Var76=0, Var78=0, Var81=0, Var83=0, Var85=0, Var94=0, Var109=0, Var112=0, Var113=0, Var119=0, Var123=0, Var125=0, Var126=0, Var132=0, Var133=0, Var134=0, Var140=0, Var143=0, Var144=0, Var149=0, Var153=0, Var160=0, Var163=0, Var173=0, Var181=0, Var189=0, Var192=0, Var193=0, Var195=0, Var196=0, Var197=0, Var198=0, Var199=0, Var200=0, Var202=0, Var203=0, Var204=0, Var205=0, Var206=0, Var207=0, Var208=0, Var210=0, Var211=0, Var212=0, Var214=0, Var216=0, Var217=0, Var218=0, Var219=0, Var220=0, Var221=0, Var222=0, Var223=0, Var225=0, Var226=0, Var227=0, Var228=0, Var229=0)]

In [18]:
churn_label = spark.read.csv('/home/abhi/project/orange_small_train_churn.labels',inferSchema=True,header=False)

## using lit() to add a new column that only '1' in each row

In [19]:
from pyspark.sql.functions import lit

my_cols = my_cols.withColumn("order",lit(1))
churn_label = churn_label.withColumn("order",lit(1))

## creating another column rowNum that contains consecutive values

In [20]:
from pyspark.sql.types import *
from pyspark.sql import Row, functions as F
from pyspark.sql.window import Window

my_cols = my_cols.select("*", F.row_number().over(Window.partitionBy("order").orderBy("order")).alias("rowNum"))
churn_label = churn_label.select("*", F.row_number().over(Window.partitionBy("order").orderBy("order")).alias("rowNum"))

## joining the feature columns data frame with label dataframe

In [21]:
result = my_cols.join(churn_label,my_cols.rowNum == churn_label.rowNum)

## schema of the resultant dataframe

In [22]:
result.printSchema()

root
 |-- Var6: integer (nullable = true)
 |-- Var7: integer (nullable = true)
 |-- Var13: integer (nullable = true)
 |-- Var21: integer (nullable = true)
 |-- Var22: integer (nullable = true)
 |-- Var24: integer (nullable = true)
 |-- Var25: integer (nullable = true)
 |-- Var28: double (nullable = false)
 |-- Var35: integer (nullable = true)
 |-- Var38: integer (nullable = true)
 |-- Var44: integer (nullable = true)
 |-- Var57: double (nullable = false)
 |-- Var65: integer (nullable = true)
 |-- Var72: integer (nullable = true)
 |-- Var73: integer (nullable = true)
 |-- Var74: integer (nullable = true)
 |-- Var76: integer (nullable = true)
 |-- Var78: integer (nullable = true)
 |-- Var81: double (nullable = false)
 |-- Var83: integer (nullable = true)
 |-- Var85: integer (nullable = true)
 |-- Var94: integer (nullable = true)
 |-- Var109: integer (nullable = true)
 |-- Var112: integer (nullable = true)
 |-- Var113: double (nullable = false)
 |-- Var119: integer (nullable = true)
 |-- Var123: integer (nullable = true)
 |-- Var125: integer (nullable = true)
 |-- Var126: integer (nullable = true)
 |-- Var132: integer (nullable = true)
 |-- Var133: integer (nullable = true)
 |-- Var134: integer (nullable = true)
 |-- Var140: integer (nullable = true)
 |-- Var143: integer (nullable = true)
 |-- Var144: integer (nullable = true)
 |-- Var149: integer (nullable = true)
 |-- Var153: integer (nullable = true)
 |-- Var160: integer (nullable = true)
 |-- Var163: integer (nullable = true)
 |-- Var173: integer (nullable = true)
 |-- Var181: integer (nullable = true)
 |-- Var189: integer (nullable = true)
 |-- Var192: string (nullable = false)
 |-- Var193: string (nullable = false)
 |-- Var195: string (nullable = false)
 |-- Var196: string (nullable = false)
 |-- Var197: string (nullable = false)
 |-- Var198: string (nullable = false)
 |-- Var199: string (nullable = false)
 |-- Var200: string (nullable = false)
 |-- Var202: string (nullable = false)
 |-- Var203: string (nullable = false)
 |-- Var204: string (nullable = false)
 |-- Var205: string (nullable = false)
 |-- Var206: string (nullable = false)
 |-- Var207: string (nullable = false)
 |-- Var208: string (nullable = false)
 |-- Var210: string (nullable = false)
 |-- Var211: string (nullable = false)
 |-- Var212: string (nullable = false)
 |-- Var214: string (nullable = false)
 |-- Var216: string (nullable = false)
 |-- Var217: string (nullable = false)
 |-- Var218: string (nullable = false)
 |-- Var219: string (nullable = false)
 |-- Var220: string (nullable = false)
 |-- Var221: string (nullable = false)
 |-- Var222: string (nullable = false)
 |-- Var223: string (nullable = false)
 |-- Var225: string (nullable = false)
 |-- Var226: string (nullable = false)
 |-- Var227: string (nullable = false)
 |-- Var228: string (nullable = false)
 |-- Var229: string (nullable = false)
 |-- order: integer (nullable = false)
 |-- rowNum: integer (nullable = true)
 |-- _c0: integer (nullable = true)
 |-- order: integer (nullable = false)
 |-- rowNum: integer (nullable = true)

## dropping order and rowNum columns which are used to join dataframes

In [23]:
result = result.drop("order","rowNum")

## Renaming the _c0 column to label

In [24]:
result = result.withColumnRenamed("_c0","Label")

## generating the csv file for classification

In [27]:
result.repartition(1).write.csv('/home/abhi/project/cleaned_data2',sep=',',header=True)